*{
   font-family: 微軟正黑體;
  vertical-align: top;
}

.nav_area{
  background-color: #00A6DE;
  width: 100%;
  position: fixed;
  top:0px;
  margin: 0px;
  height: 60px;
}

.button{
  display: inline-block;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #00A6DE;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
}
.button_selected{
  border-bottom: 7px solid #47D1FF;
}


.db5 {
  font-size: 24px;
  margin: 0 10px 10px 0;
  s
}

.display_code{
  padding: 0px;
  margin: 0px;
}

.box {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image:   url(http://webduinoio.github.io/demo/max7219/light.jpg);
  background-position: 0 0;
  background-size: auto 100%;
  margin: 0;
  padding: 0;
}

.a {
  text-align: center;  
  height: auto;
  float: left;
  background-image: none;
}

.b {
  width: 100%;
  display: block;
  cursor: pointer;
}

.b:hover {
  opacity: .7;
}

.b.click {
  background-position: -50px 0;
}

@media (max-width:1000px) {
  .qrcode{
    display:none;
  }
}
@media (max-width:500px) {
  #code,
  #deviceId {
    font-size: 18px;
  }
  button {
    font-size: 16px;
  }
  .box {
    width: 45px;
    height: 45px;
  }
  .b.click {
    background-position: -45px 0;
  }
}

@media (max-width:420px) {
  header {
    height: 50px;
    line-height: 48px;
    font-size: 18px;
  }
  span {
    font-size: 14px;
  }
  #code,
  #deviceId {
    font-size: 16px;
  }
  button {
    font-size: 15px;
  }
  .changeCode {
    font-size: 14px;
  }
  .box {
    width: 40px;
    height: 40px;
  }
  .b.click {
    background-position: -40px 0;
  }
}

@media (max-width:380px) {
  #br {
    display: block;
  }
  .box {
    width: 35px;
    height: 35px;
  }
  .b.click {
    background-position: -35px 0;
  }
}

@media (max-width:340px) {
  header {
    height: 40px;
    line-height: 38px;
    font-size: 15px;
  }
  .content {
    margin: 0 10px;
  }
  span {
    font-size: 14px;
  }
  #code,
  #deviceId {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
  .changeCode {
    font-size: 13px;
  }
  .box {
    width: 30px;
    height: 30px;
  }
  .b.click {
    background-position: -30px 0;
  }
}
